@charset "UTF-8";

header {
  width: 900px;
  height: 80px;
  background-color: #f2d8df;
}

.section1 {
  width: 280px;
  height: 500px;
  background-color: #009933;
}

.section2 {
  width: 620px;
  height: 500px;
  background-color: #66ffff;
}

footer {
  width: 900px;
  height: 60px;
  background-color: #ffef85;
}

.main {
  display: flex;
}

.center {
  /* flexboxをcenterクラスに適用 */
  display: flex;
  /* 横方向の中央揃えにする */
  justify-content: center;
  /* 縦方向の中央揃えにする */
  align-items: center;
}
